<div class="main-container">  
  <h2>All Lessons</h2>
  <!-- <md-form-field>
      <input mdInput type="text" 
              placeholder="Search Lessons"
              (keyup)="filterLessons(lessonFilter.value)" 
              #lessonFilter>
    </md-form-field> -->
  <md-card class="course-card" *ngFor="let course of ( courses$ | async )">
    <md-card-title>
        {{course.description}}
    </md-card-title>
    <md-card-subtitle>
        {{course.longDescription}}
    </md-card-subtitle>

        <!-- Lessons Table -->
    <!-- <md-list>
      <md-list-item *ngFor="let lesson of filteredLessons">
        <md-icon md-list-icon>folder</md-icon>
        <h2 md-line>{{lesson.description}}</h2>
          <span md-line><md-icon md-list-icon class="duration-icon">access_time</md-icon> <span class="duration-text">{{lesson.duration}}</span> </span>
      </md-list-item>
    </md-list>     -->
    <md-card-actions align="end">
      <button 
        md-button
        [routerLink]="course.$key">
        GO TO COURSE
      </button>    
    </md-card-actions>
  </md-card>
</div>