<div class="main-container">
  <md-card class="lessons-card">
    <md-card-title fxLayoutAlign="space-between">
        {{ (course$ | async)?.description }}
        <button md-mini-fab >
            <md-icon >add</md-icon>
        </button>
    </md-card-title>
    <!-- <md-card-subtitle>
      Total Lesson: {{filteredLessons?.length}}
    </md-card-subtitle>
    <md-form-field>
      <input mdInput type="text" 
             placeholder="Search Lessons"
             (keyup)="filterLessons(lessonFilter.value)" 
             #lessonFilter>
    </md-form-field> -->
      <!-- Lessons Table -->
    <lessons-list [lessons]="courseLessons"></lessons-list>
    <md-card-actions align="end">    
      <button md-button (click)="previousLessons()">PREVIOUS</button>
      <button md-button (click)="nextLessons()">NEXT</button>
    </md-card-actions>
  </md-card>
</div>
