/* You can add global styles to this file, and also import other style files */
html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.main-container {
  margin: 16px;
}
.router-container {
  overflow: auto;
}

html, body {
      height:100%;
      min-height:100vh;
      margin:0;
}